[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
request = "*"
pyyaml = "*"
click = "*"
tqdm = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"


[requires]
python_version = "3.6"
