[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

geopandas = "*"
rtree = "*"
pandas = "*"
request = "*"
pyyaml = "*"
tqdm = "*"


[dev-packages]

matplotlib = "*"
jupyterlab = "*"


[requires]

python_version = "3.6"
