[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
rtree = "*"
pandas = "*"
request = "*"
pyyaml = "*"
tqdm = "*"
pytest = "*"
click = "*"

[dev-packages]
matplotlib = "*"
jupyterlab = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.6"
